* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: black;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout nav {
  padding: 20px;
}

.layout main {
  flex: 1;
  padding: 20px;
}

.layout footer {
  text-align: center;
  padding: 20px;
  color: grey;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
}

ul li {
  padding: 10px;
}
